
/* SWIPER */

.swiper {
  width: 40rem;
  height: fit-content;
}

.swiper-slide {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 15px;
  color: #fff;
  background: rgb(0, 37, 74);
  background: linear-gradient(
    180deg,
    rgba(0, 37, 74, 1) 8%,
    rgba(65, 93, 121, 1) 100%
  );
}

@media (max-width: 770px) {
  .swiper {
    width: 35rem;
  }
}